.date-grid {
  display: grid;
  grid-template-columns: 45px 137px 45px;
  column-gap: 16px;
  background-color: white;
  padding: 5px 16px 12px;
}

.text-slide-div {
  margin-bottom: 8px;
}

.text-div {
  display: grid;
  grid-template-columns: 97px 40px;
  padding: 0;
  margin-bottom: 3px;
  height: 25px;
}

.label-text {
  margin: 0;
  align-self: end;
}

.date-text {
  font-size: 12px;
  font-weight: 900;
}

.now-text {
  font-size: x-small;
}

.time-slider {
  margin: 0;
  background: linear-gradient(
    var(--calcite-ui-border-input),
    var(--calcite-ui-border-input)
  );
  background-size: 3px 110%;
  background-repeat: no-repeat;
  background-position: 105px;
}

.play-button {
  justify-self: center;
  align-self: flex-end;
}

/* Slider */
input[type='range'].time-slider::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 20px;
}

input[type='range'].time-slider::-webkit-slider-thumb {
  margin-top: -5px;
}

input[type='range'].time-slider::-moz-range-track {
  height: 5px;
  border-radius: 20px;
}

input[type='range'].time-slider::-moz-range-thumb {
  margin-top: -5px;
}
