.date-grid {
  display: grid;
  grid-template-columns: 45px 150px 45px;
  column-gap: 10px;
  background-color: white;
  padding: 0px 5px 8px;
}

.text-slide-div {
  margin-bottom: 8px;
}

.text-div {
  display: grid;
  grid-template-columns: 105px 45px;
  padding: 0;
  margin-bottom: 3px;
  height: 25px;
}

.label-text {
  margin: 0;
  align-self: end;
}

.date-text {
  font-size: 14px;
  font-weight: 900;
}

.now-text {
  font-size: x-small;
}

.time-slider {
  margin: 0;
  background: linear-gradient(black, black);
  background-size: 3px 110%;
  background-repeat: no-repeat;
  background-position: 113.5px;
}

.play-button {
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 5px;
}
