/* settings */
.table-color {
  width: 100%;
  height: 100%;
  align-self: end;
}

.color-grid {
  display: grid;
  grid-template-columns: 40px 205px 40px;
  column-gap: 3px;
  margin-bottom: 10px;
}

.color-dropdown {
  overflow-y: scroll;
  height: 500px;
}

.color-dropdown-item:hover {
  background: rgba(0, 127, 148, 0.2) !important;
}

.div-dropdown-item {
  width: 100%;
  z-index: -99;
}

/* main */
.main-grid {
  display: grid;
  grid-template-columns: 292px;
  margin-bottom: 30px;
  column-gap: 5px;
}
